
<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ "name_der_app" | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home"   routerDirection="forward" (click)="menuSchliessen()" >Variante 1</ion-item>
        <ion-item routerLink="/seite2" routerDirection="forward" (click)="menuSchliessen()" >Variante 2</ion-item>
        <ion-item routerLink="/seite3" routerDirection="forward" (click)="menuSchliessen()" >Variante 3</ion-item>
        <ion-item routerLink="/seite4" routerDirection="forward" (click)="menuSchliessen()" >Variante 4</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"><!-- Wert von Attribut "id" muss wie von "contentID" von ion-menu sein -->
  </ion-router-outlet>
</ion-app>
