<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "seitentitel_variante" | translate: {variant_number: 2} }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  &nbsp;

  <ion-slides>

    <ion-slide *ngFor="let nummer of nummernArray">
      <div class="slide">
        <h1>{{ "spruch_" + nummer | translate }}</h1>

        &nbsp;

        <div *ngIf="nummer===1">
          <p>{{ "wischen_links" | translate }}</p>
        </div>

        <div *ngIf="nummer===ANZ_SPRUECHE">
          <p>{{ "wischen_rechts" | translate }}</p>
        </div>

        <div *ngIf="nummer > 1 && nummer < ANZ_SPRUECHE">
          <p>{{ "wischen_links_rechts" | translate }}</p>
        </div>

      </div>
    </ion-slide>

  </ion-slides>

  &nbsp;

</ion-content>
