<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "name_der_app" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  &nbsp;

  <ion-slides>

    <ion-slide>
      <div class="slide">
        <h1>{{ "spruch_1" | translate }}</h1>
        &nbsp;
        <p>{{ "wischen_links" | translate }}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h1>{{ "spruch_2" | translate }}</h1>
        &nbsp;
        <p>{{ "wischen_links_rechts" | translate }}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h1>{{ "spruch_3" | translate }}</h1>
        &nbsp;
        <p>{{ "wischen_links_rechts" | translate }}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h1>{{ "spruch_4" | translate }}</h1>
        &nbsp;
        <p>{{ "wischen_rechts" | translate }}</p>
      </div>
    </ion-slide>

  </ion-slides>

  &nbsp;

</ion-content>
