<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "seitentitel_variante" | translate: {variant_number: 1} }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  &nbsp;

  <swiper-container>

    <swiper-slide>
      <div class="slide">
        <h1>{{ "spruch_1" | translate }}</h1>
        &nbsp;
        <p>{{ "wischen_links" | translate }}</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <h1>{{ "spruch_2" | translate }}</h1>
        &nbsp;
        <p>{{ "wischen_links_rechts" | translate }}</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <h1>{{ "spruch_3" | translate }}</h1>
        &nbsp;
        <p>{{ "wischen_links_rechts" | translate }}</p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <h1>{{ "spruch_4" | translate }}</h1>
        &nbsp;
        <p>{{ "wischen_rechts" | translate }}</p>
      </div>
    </swiper-slide>

  </swiper-container>

  &nbsp;

</ion-content>
